h1{
    color:white;
}

.header{
    background-color: #030303;
    display: flex;
    justify-content: space-between;
}

.middle{
    background-image:url('black\ background.jpg') ;
    font-family: fantasy;
    color:white;
}

.origami{
    display:flex;
    flex-wrap:wrap;
    border: black;
}

.origami img{
    border:2px solid black;
    border-radius: 10px;
}

.camel{
    width:400px;
    background-color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}